.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #bdc3c7;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  /* background: #9575cd; */
  /* color: floralwhite; */
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #cf000f;
}
a {
  color: #fff;
}
a:hover {
  color: #00f;
}
/* .body {
  margin: 0;
  padding: 0;
  background: #333;
}
.con1 {
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 40px;
}
.con1 .box {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  background: #fff;
  overflow: hidden;
  break-inside: avoid;
}
.con1 .box .img {
  max-width: 100%;
} */
